@import "tailwindcss";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 1024px) {
  :root {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100svh;
}

body {
  margin: 0;
  font-family: var(--sans);
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: initial;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
}

@media (max-width: 1024px) {
  h2 {
    font-size: 20px;
  }
}

p {
  margin: 0;
}

.effect-button {
  position: relative;
}

.effect-button::before {
  content: "";
  position: absolute;
  inset: 1px;
  /* border-radius: 20px; */
  border-top: 2px solid #fbc900;
  border-left: 2px solid #fbc900;
  border-right: none;
  border-bottom: none;
  pointer-events: none;
  opacity: 80%;
  z-index: 10;
}

.effect-button--active::before {
  inset: 0px;
  border-top: 3px solid #d09d0b;
  border-left: none;
}

.effect-console {
  position: relative;
  overflow: visible;
}
.effect-console::after {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: 14px;
  border-top: none;
  border-left: none;
  border-right: 2px solid rgba(255, 255, 255, 0.9);
  border-bottom: 2px solid rgba(255, 255, 255, 0.9);
  pointer-events: none;
  opacity: 80%;
  z-index: 10;
}

.console-card {
  position: relative;
}
.console-card::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.9);
  border-left: 2px solid rgba(255, 255, 255, 0.9);
  border-right: none;
  border-bottom: none;
  pointer-events: none;
  opacity: 80%;
  z-index: 10;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}

. {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}
